$darkBlue: #192E4D;
$lightBlue: #506a7a;
$brightRed: #D62839;

.projects {
    background-color: #ffffff;
}

.project-container {
    margin-bottom: 2rem;
}

.project-container::after{
    color:RGB(88,117,160,0.06);
    font-family: 'Jockey One';
    content: attr(data-bg-text);
    display: block;
    font-size: 20rem;
    transform: scale(1, 1);
    line-height: 1;
    bottom: 30px;
    position: absolute;
  }

.filter-container {
    display: flex;
    flex-direction: row;
    background-color: $darkBlue;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 4px;
    padding: 4px 4px;
    margin-top: 1rem;
    margin-right: 10rem;
    margin-left: 10rem;

}

.heading-project {
    color: $brightRed;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    font-size: 35px;

}

.list {
    box-sizing: border-box;
    margin: 5px;
    color: $brightRed;
    padding: 4px 2rem;
    border: 2px solid $brightRed;
    border-radius: 2px;
    cursor: pointer;
    z-index: 8;
}

.click-more {
    text-decoration: none;
    box-sizing: border-box;
    margin: 5px;
    color: $brightRed;
    padding: 4px 2rem;
    border: 2px solid $brightRed;
    border-radius: 2px;
    cursor: pointer;
    z-index: 8;
}

.active {
    box-sizing: border-box;
    margin: 5px;
    padding: 4px 2rem;
    background-color: RGB(214, 40, 57, 0.5);
    color: #fff;
    border: 2px solid $brightRed;
    border-radius: 2px;
    cursor: pointer;
    z-index: 8;
}

.list:hover {
    background-color: RGB(214, 40, 57, 0.5);
    color: #fff;
    transition: all 0.5s ease-out;
}

.click-more:hover {
    background-color: RGB(214, 40, 57, 0.5);
    color: #fff;
    transition: all 0.5s ease-out;
}


.gallery {
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.card-holder {
    border-radius: 4px;
    margin-top: 1rem;
    background-color: $darkBlue;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    position: relative;

    overflow: hidden;

    .card-hover {
        position: absolute;
        background-color: $darkBlue;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateY(100%);
        -webkit-transition: transform 0.5s ease-out;
        -o-transition: transform 0.5s ease-out;
        transition: transform 0.5s ease-out;


        .card-hover-inside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 3rem;

            &::before {
                content: '';
                position: absolute;
                border-width: 0;
                width: 0%;
                height: 0%;
                border-top-width: 2px;
                border-left-width: 2px;
                border-style: solid;
                border-color: #ffffff;
                top: 1.5em;
                left: 1.5em;
                transition-delay: 8s;
                -webkit-transition: all .8s linear;
                -o-transition: all .8s linear;
                transition: all .8s linear;
            }

            &::after {
                content: '';
                position: absolute;
                border-width: 0;
                width: 0%;
                height: 0%;
                border-bottom-width: 2px;
                border-right-width: 2px;
                border-style: solid;
                border-color: #ffffff;
                bottom: 1.5em;
                right: 1.5em;
                transition-delay: 8s;
                -webkit-transition: all .8s linear;
                -o-transition: all .8s linear;
                transition: all .8s linear;
            }
        }

    }

    &:hover .card-hover {
        transform: translateY(0);
        opacity: 1;
    }

    &:hover .card-hover-inside::before {
        width: 75%;
        height: 75%;
    }

    &:hover .card-hover-inside::after {
        width: 75%;
        height: 75%;
    }

    .card-head {
        object-fit: cover;
        transform: translateY(0%);
        transition: all 0.6s linear;

    }

    &:hover .card-head {
        object-fit: cover;
        transform: translateY(-100%);
        transition: all 0.3s linear;
    }


}




.card-body {
    position: relative;

    background-color: $darkBlue;
}

.card-img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 4px solid $darkBlue;
    vertical-align: middle;
    transform: translateY(0%);
    transition: all 0.6s linear;
}


.item-name {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.item-date {
    margin: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 12px;
    font-weight: lighter;
}

.each-render {
    color: #ffffff;
    font-family: 'Inter';
    margin: 0.5rem;
    font-size: 18px;
    text-align: center;
}

.item-decs {
    color: #ffffff;
    font-family: 'Inter';
    margin: 0.8rem;
    text-align: center;
}

.item-type{
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0.5rem;
}

.type-render {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: $lightBlue;
}


@keyframes slide-up {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    60% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}