.about {
    background-color: #5875A0;
    position: relative;
}

.about-container::after {
    color: RGB(170, 209, 254, 0.06);
    font-family: 'Jockey One';
    content: attr(data-bg-about);
    display: block;
    font-size: 27rem;
    transform: scale(1.2, 1.3);
    line-height: 0.8;
    bottom: 60px;
    margin-left: 10rem;
    position: absolute;
    left: auto;
    bottom: 90px;
}

.heading {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 35px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.info-button {
    display: flex;
    flex-direction: column;
}

.info-container {
    background-color: #192E4D;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    width: 40rem;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 1rem;
    padding: 2.2rem;
    z-index: 5;
}

p {
    display: block;
    color: #ffffff;
    line-height: 180%;
    font-family: 'Inter';
}

.photo {
    position: relative;
    margin: 2rem;
    width: 16.8rem;
    height: auto;
    border-radius: 1%;
    z-index: 5;
    border: 2px solid #192E4D;
}

.frame {
    position: absolute;
    right: 8.5rem;
    top: 9.1rem;
    border: 4px solid #D62839;
    border-radius: 4px;
    width: 16.8rem;
    height: 20rem;
    z-index: 7;
}


.photo::before {
    border-width: 3px;
    border-color: #506a7a;

}

.view-more {
    display: inline-block;
    background-color: #D62839;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 2px;
    border: 2px solid #D62839;
    z-index: 10;
    margin-left: 2rem;
    margin-bottom: 4rem;
    width: max-content;
    text-decoration: none;
}

.view-more:hover {
    cursor: pointer;
    background-color: RGB(214, 40, 57, 0.5);
    color: #ffffff;
    transition: all 0.5s ease-out;
}

.bold {
    font-weight: 500;
    text-decoration: none;
}