$darkBlue: #192E4D;
$lightBlue: #506a7a;
$brightRed: #D62839;
$dark: rgba(0, 0, 0, 0.85);

.main-container {
    position: relative;
    height: calc(100vh - 65px);
    font-size: larger;
    margin-left: 5rem;
    margin-right: 5rem;
    color: $dark;

    hr {
        margin-top: 4rem;
        background: rgba(0, 0, 0, 0.25);
        border: 0;
        height: 2px;
        display: block;
    }

    .project-name {
        padding-top: 10rem;
        margin-bottom: 10px;
        text-align: center;
        line-height: 0.9;
        font-size: 3.6rem;
    }

    .summary {
        margin-top: 5rem;
        justify-content: center;
        align-items: start;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;


        .col {
            padding: 0 4px;
            justify-content: space-around;


            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-around;
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);
                justify-content: space-around;
            }

            h3 {
                font-size: 1em;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            p {
                text-align: center;
                font-size: 14px;
                padding: 0 10px;
                color: $dark;
            }
        }
    }

    .body-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        align-items: flex-start;
        display: flex;

        .body-left {
            line-height: 36px;
            font-weight: 400;
            padding-left: 5%;

            .left-heading {
                font-size: 32px;
            }
        }

        .body-right {
            font-size: 16px;
            line-height: 36px;
            margin-left: 20%;
            margin-right: 5%;

            p {
                color: $dark;
            }
        }

        img {
            width: 90%;
            height: 100%;


        }

        h3 {
            font-size: 24px;
            font-weight: 560;
        }
    }
}


.video {
    border-radius: 10px;
}